<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>New About Page</title>
</head>
<body>
	<section>
		<h1>This is new about section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Excepturi quasi minima suscipit a obcaecati placeat sapiente deserunt
			voluptatem error maxime similique quam quos consequuntur commodi
			rerum modi aliquid animi earum veniam dignissimos! Itaque velit sit
			laudantium nam facilis nobis quod non qui repudiandae magni soluta
			fugiat totam recusandae praesentium dignissimos!</p>
	</section>
</body>
</html>