<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <div class="container">
        <h1>Addig CSS, JS and Image in thymeleaf</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus libero fugit quas itaque
            mollitia iure facere id laborum. Illo laudantium perferendis quae qui molestiae iste cumque doloribus
            nostrum sint.</p>

    </div>

    <script src="" th:src="@{/js/myjs.js}" ></script>

    <img src="" class="profile" th:src="@{/images/profile-1.jpg}" alt="My Profile" >
</body>

</html>