body {
    background: #e2e2e2;
}

.container {
    background: #ffffff;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile{
    border-radius: 30%;
    width: 50%;
    height: 50%;
}